#navigationbar{

        background-color: black;
        text-align: center;
        max-width: 1400px;
        font-size: 140%; 
        margin: auto;
        padding: 15px;
        margin-left:auto;
        margin-right:auto;

}
#navigationbar a:link{
color:white;
}

#navigationbar a:visited {
    color: white;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.frontbox{
    display: flex;
    width: 700px;
}

.frontparagraph{
    width: 300px;

}